@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600;1,700&family=PT+Serif:ital,wght@1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    color: rgb(15, 15, 15);
    border-radius: 5px;
    font-family: Arial, Helvetica, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header p, body p{
    line-height: 1.7;
}
a{
    text-decoration: none;
    color: rgb(0, 247, 255);
    cursor: pointer;
}
a:hover{
    color: rgb(255, 0, 221);
}
small{
    display: block;
    text-align: center;
    margin-top: 2px;
    margin-left: 40px;
}
img{
    margin: 0;
    padding: 0;
    border-radius: 2px;
    display: block;
    width: 100%;
    max-width: 725px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.chap1, .chap2, .chap3, .wrapper{
    width: 100%;
    max-width: 750px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
}
.wrapper h1, main h2, main h3{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

/* ******************** header ********************** */

.band{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 89, 255);
    border-radius: 5px;
    border: 1px solid rgb(22, 255, 236);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    align-items: center;
}
.centrale img, .ihecs img{
    margin: 2px;
    padding: 2px;
    border-radius: 30px;
    display: block;
    width: 90px;
    right: 100%;
    left: 0;
    justify-content: left;
}
.ihecs img{
    left: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    justify-content: right;
    width: 100px;
    margin-top: 3px;
    margin-right: 5px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: serif;
    font-size: 25px;
    color: #ffffff;
}
.wrapper h1 {
    margin-bottom: 20px;
    text-align: center;
}
.wrapper img{
    margin-bottom: 30px;
    margin-top: 30px;
}

/* *********************** body ********************** */

body {
    background-color: #d9e2f5;
    font-weight: 400;
    font-size: 19px;
}
.chap1, .chap2, .chap3{
    margin-top: 20px;
    margin-bottom: 40px;
}
.chap1 h2, .chap2 h2, .chap3 h2{
    margin-bottom: 20px;
    text-align: center;
}
.chap1 small, .chap3  small{
    margin-top: 10px;
    margin-bottom: 20px;
}
#myChart, #myChart1 {
    margin-top: 5px;
    max-width: 720px;
}
/* ******************* FOOTER ******************** */

footer {
    background-color: rgb(0, 89, 255);
    color: rgb(0, 0, 0);
}
.copyrighteticons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 10%;
}
.copyright {
    text-align: center;
    font-size: 14pt;
    margin-bottom: 0;
    padding: 0 5%;
    font-weight: 520;
    margin-top: 15px;
}
.copyright span{
    color: #ffffff;
}
.icons {
    width: 50%;
    text-align: right;
    right: 100%;
    margin-bottom: 10px;
    color: #006aff;
}
.icons a i{
    display: inline-flex;
    padding: 0 20px;
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 10px;
}
.icons a i:hover {
    transform: scale(1.5);
    transition: 0.2s;
    color: #ffffff;
}
